/ejercicio1Colecciones/nbproject/private/
/ejercicio1Colecciones/build/
/ejercicio2Colecciones/nbproject/private/
/ejercicio2Colecciones/build/
/JavaApplication14/nbproject/private/
/ejercicio 3 de colecciones/nbproject/private/
/ejercicio 3 de colecciones/build/
/ejercicio4Colecciones/nbproject/private/